body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfdff;
  height: 100vh;
  color: white;
}

.App {
  @apply flex flex-row;
}

h1 {
  @apply text-6xl text-center;
}

h4 {
  @apply m-0;
}

/* Sidebar */
.sidebar {
  @apply bg-primary text-white w-80 h-[100vh] pt-10 select-none;
}

/* Searchbar */
.searchbar {
  @apply h-8 w-64 border-solid border-4 border-white mx-auto my-12 object-contain px-2 mt-20 mb-40;
}

.searchbar-field {
  font-family: inherit;
  @apply bg-inherit border-0 h-full w-[80%] focus:outline-none text-white font-medium text-lg mx-2;
}

/* Sidebar buttons */
.sidebar-button {
  @apply px-5 my-2 p-2 w-80 h-8 hover:bg-secondary;
}

.sidebar-button-text {
  @apply text-2xl font-bold uppercase m-0;
}

.sidebar-button-number {
  @apply text-sm;
}

/* Content Box */
.content-box {
  @apply mx-16 mt-20 w-full;
}

.header h3 {
  @apply m-0 pl-3 py-1.5;
}

.header-big h3 {
  @apply bg-primary text-2xl;
}

.header-small h3 {
  @apply bg-secondary text-lg w-[80%] my-1;
}

.header-dropdown {
  @apply bg-tertiary w-[50%] hover:bg-tertiary_lighter hover:cursor-pointer m-0;
}

.header-dropdown span {
  @apply flex flex-row justify-between items-center min-h-full h-8 my-1 px-3 overflow-clip select-none;
}

.header-dropdown h4 {
  @apply text-base;
}

.header-dropdown i {
  transform-origin: center 55%;
  @apply text-lg;
}

/* dropdown with details */
.dropdown-details {
  @apply text-black bg-white hidden transition;
}

.dropdown-details p {
  @apply my-1;
}

.dropdown-details .bolden {
  @apply text-lg font-semibold;
}
