@tailwind utilities;

@layer utilities {
  .frosted {
    backdrop-filter: blur(14px);
    box-shadow: 3px 3px 6px #00000044;
    border: 1px solid #ffffff99;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfdff;
  height: 100vh;
  color: white;
}

.App {
  @apply flex flex-row;
}

h1 {
  @apply text-6xl text-center;
}

h4 {
  @apply m-0;
}

/* Sidebar */
.sidebar {
  @apply bg-primary text-white px-4 min-h-screen select-none;
}

/* Searchbar */
.searchbar {
  @apply h-8 w-64 border-solid border-4 border-white mx-auto my-12 object-contain px-2 my-20 rounded-lg;
}

.searchbar-field {
  font-family: inherit;
  @apply bg-inherit border-0 h-full w-[80%] focus:outline-none text-white font-medium text-lg mx-2;
}

/* Sidebar buttons */
.sidebar-button {
  @apply mx-auto my-2 p-2 w-[88%] h-8 rounded-lg;
  border: 1px solid transparent;
}

.sidebar-button:hover {
  @apply bg-secondary frosted;
}

.sidebar-button-text {
  @apply text-2xl font-bold uppercase m-0;
}

.sidebar-button-number {
  @apply text-sm;
}

/* Content Box */
.content-box {
  @apply mx-8 mt-20 w-full;
}

.header-big h3 {
  @apply bg-primary frosted text-2xl m-0 mb-2 pl-3 py-2 rounded-lg;
}

.header-small h3 {
  @apply bg-secondary frosted text-lg w-[90%] my-2 pl-3 py-1.5 rounded-lg;
}

.header-dropdown span {
  @apply bg-tertiary frosted text-base w-[80%] mx-0 min-h-full h-8 my-1 px-3
  flex flex-row justify-between items-center
  overflow-clip rounded-lg select-none;
}

.header-dropdown span:hover {
  @apply bg-tertiary_lighter cursor-pointer;
}

.header-dropdown i {
  transform-origin: center 55%;
  @apply text-lg;
}

/* dropdown with details */
.component-details {
  @apply text-black bg-gray-100 hidden transition py-1 px-2 rounded-xl my-2;
}

.component-details p {
  @apply my-1;
}

.component-details .bolden {
  @apply text-lg font-semibold;
}
